{% extends 'page.html.twig' %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 style="font-size: 5rem;">이주민 법안 다국어 지원</h1>
        <p>&nbsp;</p>
        <p>이주민에게 제공되는 공공 데이터는 다양하나 실제로 이주민이 접근하고 사용하기에는 여러 가지 한계가 존재 이러한 한계를 시민사회단체에서 생산하는 데이터를 통해 해결해 보자!</p>
        <ul class="list-inline">
          <li><a href="https://www.slideshare.net/YoungchanJeong1/ss-73013730" class="btn btn-info" target="_blank">슬라이드</a></li>
          <li><a href="http://github.com/mozodev/kode" class="btn btn-info" target="_blank">코드 저장소</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1awLsjUFWJomGgd0yePxCveJLnqnpEp00mcQ2rTfldbo/edit#gid=0" target="_blank" class="btn btn-info">기획</a></li>
          <li><a href="https://docs.google.com/presentation/d/12hdvG-nbTt71oDgNThgYpxLEINqonua6SQeE5myUUrk/edit#slide=id.g21c71ef5fb_0_2" class="btn btn-info" target="_blank">화면</a></li>
          <li><a href="https://lime2017.slack.com/" class="btn btn-info" target="_blank">슬랙</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/-s356ocFF6Q"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>해결하려는 문제</h2>
      <blockquote>
        정부는 이주민 법안을 대표 언어(영, 중, 일, 베트남)로만 제공해서 다른 언어를 사용하는 이주민들은 법안을 이해할 수 없다.<br>
        소수 언어로도 제공할 수 있는 방법이 없을까?<br>
        전국 200여 개 이주민 지원 센터에서는 한국에 체류 중인 이주민을 위해 13개국 언어로 법안 및 정부 데이터를 번역 해오고 있다.
      </blockquote>
    </div>
    <div class="col-md-6">
      <h2>목표</h2>
      <blockquote>
        “이주민 법안 다국어 지원 어플리케이션”은 이주민에게 필요한 법안 정보를 비롯해
        다양한 실생활 정보까지 제공하며 정부데이터와 시민사회단체 데이터가
        서로 상호 보완될 수 있는 웹/앱 플렛폼을 제공하려고 합니다.
      </blockquote>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>이주민 관련 법안 (18)</h2>
        <ul>
          <li><a target="_blank" href="http://www.law.go.kr/법령/출입국관리법">출입국관리법</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/출입국관리법시행령">출입국관리법 시행령</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/출입국관리법시행규칙">출립국관리법 시행규칙</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/다문화가족지원법">다문화가족지원법</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/다문화가족지원법시행령">다문화가족지원법 시행령</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/다문화가족지원법시행규칙">다문화가족지원법 시행규칙</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/외국인근로자의고용등에관한법률">외국인근로자의 고용 등에 관한 법률</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/외국인근로자의고용등에관한법률시행령">외국인근로자의 고용 등에 관한 법률 시행령</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/외국인근로자의고용등에관한법률시행규칙">외국인근로자의 고용 등에 관한 법률 시행규칙</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/국적법">국적법</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/국적법시행령">국적법 시행령</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/국적법시행규칙">국적법 시행규칙</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/재한외국인처우기본법">재한외국인 처우 기본법</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/재한외국인처우기본법시행령">재한외국인 처우 기본법 시행령</a></li>
          <li><a target="_blank" href="http://www.ohchr.org/EN/UDHR/Pages/Language.aspx?LangID=kkn">세계인권선언문</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/난민법">난민법</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/난민법시행령">난민법 시행령</a></li>
          <li><a target="_blank" href="http://www.law.go.kr/법령/난민법시행규칙">난민법 시행규칙</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>언어 (14)</h2>
        <dl class="dl-horizontal">
          <dt>বাংলা</dt><dd>방글라데시</dd>
          <dt>ភាសាខ្មែរ</dt><dd>크메르어</dd>
          <dt>नेपाली</dt><dd>네팔어</dd>
          <dt>தமிழ்</dt><dd>타밀(싱할라)어 스리랑카</dd>
          <dt>조선말, 한국어</dt><dd>한국어</dd>
          <dt>English</dt><dd>영어</dd>
          <dt>汉语, 漢語, 华语, 華語, 中文</dt><dd>중국어 간체</dd>
          <dt>日本語</dt><dd>일본어</dd>
          <dt>Tiếng Việt Nam</dt><dd>베트남어</dd>
          <dt>ภาษาไทย</dt><dd>태국어</dd>
          <dt>Wikang Filipino</dt><dd>필리핀어</dd>
          <dt>Bahasa Indonesia</dt><dd>인도네시아어</dd>
          <dt>Монгол Хэл</dt><dd>몽골어</dd>
          <dt>Oʻzbek tili</dt><dd>우즈베크어</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

{% endblock %}
